<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ClouTree</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Cloutree</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>com.cloutree.server.ui.CloutreeUI</param-value>
		</init-param>
	</servlet>
	<servlet>
        <servlet-name>ApiRegistrationServlet</servlet-name>
        <servlet-class>com.cloutree.server.api.servlet.ApiRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiUnregistrationServlet</servlet-name>
        <servlet-class>com.cloutree.server.api.servlet.ApiUnregistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelFileDownloadServlet</servlet-name>
        <servlet-class>com.cloutree.server.api.servlet.ModelFileDownloadServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>Cloutree</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>ApiRegistrationServlet</servlet-name>
        <url-pattern>/api/register</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ApiUnregistrationServlet</servlet-name>
        <url-pattern>/api/unregister</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ModelFileDownloadServlet</servlet-name>
        <url-pattern>/api/downloadfile</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>/api/javadoc/*</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
